.box{
    position: fixed;
    background: black;
    border: 0.2rem solid black;
    color: wheat;
    border-radius: 0.7rem;
    bottom: 2rem;
    right: 2rem;
    padding: 0.5em 1em;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 1rem;
}